*node_modules
#-------------------backend--------------------
# ./Backend/node_modules
# ./Backend/.env
Backend/.env

#-------------------frontend--------------------

# ./Frontend/node_modules
./Frontend/dist
./Frontend/dist-ssr
./Frontend/*.local