.outer-main-container-form{
    display: flex;

padding: 10px;
justify-content: flex-end;

}
.inner-main-container-form{
box-sizing: border-box;
padding: 10px;
background-color: rgba(255, 255, 255, 0.299);
width: 700px;
border-radius: 10px;
}

.name input, .name textarea{
background-color: rgba(255, 255, 255, 0.32);
outline: none;
padding: 4px 0 4px 20px;
margin: 5px 0 5px 5px;
border-radius: 10px;
}

.focused-input:focus{
    border: 1px solid rgb(0, 0, 0);

}

.name input::placeholder, .name textarea::placeholder{
    color: #0000009a;
    margin: auto;
    padding: auto;
}

.number-input::-webkit-inner-spin-button, .number-input::-webkit-outer-spin-button{
-webkit-appearance: none;
}

.radio-button:hover{
cursor: pointer;
}

form{
    font-family: Arial, sans-serif;
}