.main-header-container{
background-color: rgb(118, 8, 8);
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 10px;
}
.brand-name-logo{
    font-size: 40px;
}
.search-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#search-box{
width: 220px;
}

.inside-search{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 2px;
    border-radius: 12px;

}
.inside-search input{
    background-color: transparent;
    font-size: 25px;
}
.inside-search input:focus{
    outline: none;
}
/* .search-icon{
    width: 100px;
    height: 100px;
} */