.navbar{
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 6px 10px;
background-color: rgba(255, 255, 255, 0.418);
gap: 20px;
border-radius: 10px;
}

ul li{
    font-size: 25px;
    border-radius: 10px;
    padding: 2px 4px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
ul li:hover{
    background-color: rgb(173, 40, 40);
    /* color:aliceblue; */
}