@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  background-color: rgb(161 0 0);
}

*{
  font-size: 25px;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: rgba(255, 255, 255, 0.401);
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.385);
   -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #ffffff94;
}